#article {

  .sorter {
    display: inline-block;
    font-size: 12px;
    padding: 10px;
    cursor: pointer;
    .glyphicon {
      padding-left: 4px;
    }
  }

  ul.single {
    li {
      img {
        width: 100%;
      }
    }

    .container {
      margin-top: 10px;
    }
  }

  ul.listing {
    margin: 0;
    li {
      position: relative;
      width: 100%;
      border-bottom: 1px solid rgb(52,128,144);
      background-color: rgb(66,52,71);

      .footer {
        position: absolute;
        background-color: rgba(31,68,76,0.8);
        bottom: 0;
        width: 100%;
        height: auto;
        z-index: 1;
        padding: 10px;

      }

      img {
        width: 100%;
        z-index: 0;
      }

      .lazy-image-placeholder {
        width: 20px;
        margin-top: -10px;
      }
      .publishedTime{
        font-size: 10px;
        display: block;
        text-align: right;
        line-height: 12px;


      }
    }
  }
}
